# Task 1. Sentiment Labeling

In [ ]:
# import libraries for the analysis
!pip install textblob
from textblob import TextBlob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import warnings
warnings.filterwarnings("ignore")

In [21]:
# Load the dataset
df = pd.read_excel("test.xlsx")
df.head()

,Subject,body,date,from
0,EnronOptions Update!,EnronOptions Announcement\n\n\nWe have updated...,2010-05-10,sally.beck@enron.com
1,(No Subject),"Marc,\n\nUnfortunately, today is not going to ...",2010-07-29,eric.bass@enron.com
2,Phone Screen Interview - Shannon L. Burnham,"When: Wednesday, June 06, 2001 10:00 AM-11:00 ...",2011-07-25,sally.beck@enron.com
3,RE: My new work email,we were thinking papasitos (we can meet somewh...,2010-03-25,johnny.palmer@enron.com
4,Bet,Since you never gave me the $20 for the last t...,2011-05-21,lydia.delgado@enron.com

In [22]:
print(df.columns)
df.shape

Index(['Subject', 'body', 'date', 'from'], dtype='object')

(2191, 4)

In [23]:
# clean and preprocess dataset

def clean_text(text):
    text = str(text).lower()
    text = re.sub(r'\W', ' ', text)  # Remove special characters
    text = re.sub(r'\s+', ' ', text).strip()  # Remove extra spaces
    return text
df["body"] = df["body"].apply(clean_text)
print(df["body"])

0       enronoptions announcement we have updated the ...
1       marc unfortunately today is not going to work ...
2       when wednesday june 06 2001 10 00 am 11 00 am ...
3       we were thinking papasitos we can meet somewhe...
4       since you never gave me the 20 for the last ti...
                              ...
2186    thanks for the resume she has had some good ex...
2187    attached please find the following documents t...
2188    good to finally hear from judging from your e ...
2189    it looks like we have our 12 teams we will pro...
2190    we will need this so i am sending it to you as...
Name: body, Length: 2191, dtype: object

In [24]:
# Define a function to determine sentiment
def label_sentiment(text):
    polarity = TextBlob(text).sentiment.polarity
    if polarity > 0.05:
        return 'Positive'
    elif polarity < -0.05:
        return 'Negative'
    else:
        return 'Neutral'

# Apply the function to your message column
df['sentiment'] = df['body'].apply(label_sentiment)
print(df['sentiment'])

0       Neutral
1       Neutral
2       Neutral
3       Neutral
4       Neutral
         ...
2186    Neutral
2187    Neutral
2188    Neutral
2189    Neutral
2190    Neutral
Name: sentiment, Length: 2191, dtype: object

In [25]:
df

,Subject,body,date,from,sentiment
0,EnronOptions Update!,enronoptions announcement we have updated the ...,2010-05-10,sally.beck@enron.com,Neutral
1,(No Subject),marc unfortunately today is not going to work ...,2010-07-29,eric.bass@enron.com,Neutral
2,Phone Screen Interview - Shannon L. Burnham,when wednesday june 06 2001 10 00 am 11 00 am ...,2011-07-25,sally.beck@enron.com,Neutral
3,RE: My new work email,we were thinking papasitos we can meet somewhe...,2010-03-25,johnny.palmer@enron.com,Neutral
4,Bet,since you never gave me the 20 for the last ti...,2011-05-21,lydia.delgado@enron.com,Neutral
...,...,...,...,...,...
2186,Re: Resume,thanks for the resume she has had some good ex...,2011-06-17,johnny.palmer@enron.com,Neutral
2187,"Final Schedule - Wednesday, May 2, 2001 - Jesu...",attached please find the following documents t...,2011-01-20,johnny.palmer@enron.com,Neutral
2188,(No Subject),good to finally hear from judging from your e ...,2011-01-02,don.baughman@enron.com,Neutral
2189,League is Set,it looks like we have our 12 teams we will pro...,2011-03-11,rhonda.denton@enron.com,Neutral
2190,AirCard Activation,we will need this so i am sending it to you as...,2010-10-30,johnny.palmer@enron.com,Neutral

In [26]:
# Save updated dataset
df.to_csv("test_labeled.csv", index=False)
print("Sentiment labeling complete. Saved as test_labeled.csv.")

Sentiment labeling complete. Saved as test_labeled.csv.